<%- include("../layouts/header", {title:"CheckList" }) %>

    <%- include("../layouts/menu") %>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-four-fifths">
                        <h1 class="title size-4">Listas de Tarefas</h1>
                    </div>
                    <div class="column is-one-fifth">
                        <a href="/checklist/new" class="button is-success is-small">Nova Lista</a>
                    </div>
                </div>

                <div class="columns is-multiline">
                    <% checklist.forEach(checklist=> { %>
                        <!--Com isso estou realizando um loop nesse código, estou puxando a variavel(se encontra no router do checklist) onde contem todas as atividades q estão no banco de dados e rendereizando elas-->
                        <div class="column is-one-quarter">
                            <div class="card has-background-white-ter">
                                <div class="card-content">
                                    <p class="subtitle is-size-5">
                                        <%=checklist.name %>
                                            <!--Dessa forma, estou puxando a propriedade name q esta dentro do checklist-->
                                    </p>
                                    <p class="subtitle is-size-6">
                                        <%=checklist.tasks.length %> Tasks
                                            <!--O length vai realizar a contagem de quantas tarefas o array tasks contém-->
                                    </p>
                                </div>
                                <footer class="card-footer">
                                    <p class="card-footer-item">
                                        <span>
                                            <a href="/checklist/<%= checklist._id %>">Ver</a>
                                            <!--Estou fazendo com que o Id seja dinâmico-->
                                        </span>
                                    </p>
                                    <p class="card-footer-item">
                                        <span>
                                            <a href="/checklist/<%= checklist.id %>/edit">Editar</a>
                                        </span>
                                    </p>
                                    <p class="card-footer-item">
                                        <span>
                                            <a href="/checklist/<%= checklist.id %>/?_method=delete"
                                                class="has-text-danger">Remover</a>
                                        </span>
                                    </p>
                                </footer>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </section>
        <%- include("../layouts/footer") %>